{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <br>
  <form method="post">
    <label for="username">Username</label><br>
    <input name="username" id="username" required><br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" required><br><br>
    <input type="submit" value="Log In"><br>
  </form>
{% endblock %}
